{% extends 'base.html' %}

{% block body%}
    <div class="conteneur">
        <h1>{% block title %}Formulaire{% endblock %}</h1>

        <form method="post">
            <h2>Veuillez les informations sur le stagiaire</h2>
            <input type="text" placeholder="Nom" name="nom" required>
            <br>
            <input type="text" placeholder="Prenom" name="prenom" required>
            <br>
            <select name="departement" id="departement">
                <option value="informatique">Informatique</option>
                <option value="rh">RH</option>
                <option value="logistique">Logistique</option>
                <option value="comptabilite">Comptabilité</option>
            </select>
            <br>
            <label for="masculin">Masculin
                <input type="radio" id="masculin" name="genre" value="m" checked>
            </label>
            <label for="feminin">Feminin
                <input type="radio" id="feminin" name="genre" value="f">
            </label><br>
            <button type="submit">Valider</button>
        </form>
    </div>
{% endblock %}