{% extends 'base.html' %}
{% block title %}Formulaire{% endblock %}

{% block body%}
    <div class="conteneur">
        <h1>Formulaire</h1>

        <form method="post">
            <h2>Veuillez les informations sur le stagiaire</h2>
            <input type="text" placeholder="Nom" required><br>
            <input type="text" placeholder="Prenom" required><br>

            <label for="masculin">Masculin
                <input type="radio" id="masculin" name="genre" value="m" checked>
            </label>
            <label for="feminin">Feminin
                <input type="radio" id="feminin" name="genre" value="f">
            </label><br>
            <button type="submit">Valider</button>
        </form>
    </div>
{% endblock %}